/* General para pantallas menores a 1280px */
@media (max-width: 1280px) {
    header {
        margin-top: 1rem;
    }
    header .logo {
        margin-left: 1.5rem;
        width: 3.3rem;
        height: auto;
    }
    .message {
        width: 25rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #text__output {
        width: 100%
    }
    .buttons__copy {
        width: 20rem;
    }
    .footer {
        margin-top: 3.438rem;
    }
}

/* Añadir especificidad para dispositivos específicos */
/* 390px */
@media (max-width: 390px) {
    header .logo {
        margin-left: 0.25rem;
        width: 2.5rem;
        height: auto;
    }
    main {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .message {
        width: 18rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    #text__area {
        height: 8rem;
        width: 100%;
    }
    .footer {
        margin-top: 1.5rem;
    }
}

/* 412px */
@media (max-width: 412px) {
    header .logo {
        margin-left: 0.1rem;
        width: 3rem;
        height: auto;
    }
    main {
        margin-left: 3rem;
        margin-right: 3rem;
        width: 18.75rem;
        flex-direction: column;
    }
    #text__area {
        width: 18.75rem;
        height: 6.25rem;
    }
    .text__and__buttons {
        width: 18.75rem;
    }
    .message {
        width: 18.75rem;
        height: 21.875rem;
    }
    #text__output {
        margin-bottom: 6.5rem;
        margin-top: 0.25rem;
        width: 100%;
    }
    .footer {
        margin-top: 0.1rem;
    }
}
